body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.headText {
  padding-top: 0.2em;
  padding-bottom: 0em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
